/* USER ACCOUNT PAGE */
#background_profile {
	background-image: url("../public/assets/user.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: "Raleway", sans-serif;
}

#background_profile::before {
	content: "";
	background: rgba(6, 12, 34, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.container_profile {
	padding: 5rem 3rem;
	min-height: calc(100vh - 40px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.account_profile {
	display: flex;
	gap: 5rem;
	filter: brightness(95%);
}

.account_profile .left_profile {
	padding: 25px;
	border-radius: 15px;
	flex: 1;
	color: white;
}

.account_profile .left_profile .photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.account_profile .left_profile .photo .avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid #0e1b4d;
	object-fit: cover;
	overflow: hidden;
}

.info_profile {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.info_profile .info_detail {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.info_profile .info_detail_left {
	color: #25abe3;
}

.info_profile .info_detail_right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

.info_profile .account_btnDelete {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.info_profile .account_btnDelete button {
	border: 1px solid red;
	border-radius: 5px;
	background-color: red;
	color: white;
	max-width: 150px;
	width: 100%;
	padding: 0.5rem 0;
	position: relative;
	z-index: 1;
}

.info_profile .account_btnDelete button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: white;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in;
}

.info_profile .account_btnDelete button:hover {
	color: red;
}

.info_profile .account_btnDelete button:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.account_profile .right_profile {
	flex: 2;
	border-radius: 15px;
	padding: 25px;
	display: flex;
	justify-content: center;
	/* box-shadow: 0px 1px 15px 2px rgb(24 140 189 / 50%); */
}

#footer {
	filter: brightness(95%);
}

@media (max-width: 575.98px) {
	#background_profile {
		background-position: 30% !important;
	}

	#background_profile::before {
		bottom: -125% !important;
	}

	.container_profile {
		padding: 7rem 0;
	}

	.title_profile {
		text-align: center;
	}

	.account_profile {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.account_profile .left-profile {
		padding: 0.8rem;
	}

	.account_profile .left_profile .photo img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 3px solid #0e1b4d;
		object-fit: cover;
	}

	.info_profile {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.info_profile .info_detail {
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	.info_profile .info_detail_left {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info_profile .info_detail_right {
		max-width: 14em;
		word-wrap: break-word;
	}

	.info_profile .info_detail .gender {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#footer {
		filter: brightness(95%);
	}
}

@media (max-width: 991.98px) {
	#background_profile::before {
		bottom: -50%;
	}
}

@media (min-width: 1023.98px) {
	#background_profile::before {
		bottom: -20%;
	}
}

@media (min-width: 1400px) {
	.container_profile {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


/* MY TRIP PAGE */
.container_mytrip {
	padding: 5rem 0;
	font-family: "Raleway", sans-serif;
}

.mytrip_title {
	padding-bottom: 20px;
	position: relative;
}

.mytrip_title h1 {
	font-weight: bold;
	color: #0e1b4d;
}

.mytrip_title p {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #9195a2;
}

.mytrip_title::before {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 5px;
	background: #188cbd;
	bottom: 0;
	left: calc(50% - 25px);
}

.mytrip_filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	margin-top: 2rem;
}

.mytrip_filters .form_row {
	display: flex;
	width: 80%;
	gap: 20px;
}

.mytrip_filters .btn_clearField {
	justify-content: flex-end;
}

.mytrip_filters .btn_clearField button {
	border: 1px solid #ef9b23;
	border-radius: 5px;
	background-color: #ef9b23;
	padding: 0.5em;
	color: white;
	font-weight: bold;
	transition: 0.5s ease-in;
}

.mytrip_filters .btn_clearField button:first-child {
	border: 1px solid #188cbd;
	border-radius: 5px;
	background-color: #188cbd;
	padding: 0.5em;
	color: white;
	font-weight: bold;
	transition: 0.5s ease-in;
}

.mytrip_filters .btn_clearField button:first-child:hover {
	background-color: white;
	color: #188cbd;
}

.mytrip_filters .btn_clearField button:hover {
	background-color: white;
	color: #ef9b23;
}

.mytrip_search {
	width: 100%;
}

.mytrip_pagination {
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.mytrip_pagination .page_item.active .page_link {
	background-color: #188cbd;
	border-color: #188cbd;
	color: white;
}

.mytrip_pagination .page_item .page_link {
	color: #188cbd;
}

@media (max-width: 575.98px) {
	.mytrip_filters .form_row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.mytrip_search {
		width: 70%;
	}
}

.trip_button{
	background-color: #188CBD;
	color: white;
	border-radius: 5px ;
	border-style: none;
	transition: 0.5s;
}

.trip_button:hover{
	background-color: #0e1b4d;
}

.card_trip {
    overflow: hidden;    
}

.card_imgTrip {
	object-fit: cover;
	object-position: center;
	height: 25vh;
    transition: all ease-in-out 0.4s;
}

.card_imgTrip:hover{
    transform: scale(1.1);
}

